.container{
background-color: chocolate;
    
}
input[type=text] , input[type=password]{
    
    width: 250px;
    
    border: 1px solid #ccc;
    
}
.login{
    padding: 5px;
}
button {
  
  width: 150px;
    border-radius: 20px;
}
img{
    border-radius: 50%
}
h1{
    font-family: cursive;
}
